.hover_border:hover{
	-fx-border-color: #034638;
	-fx-border-width: 0px 0px 0px 3px;
	-fx-background-color: #1dd9a8;
	-fx-cursor: hand;
}
.cursor-hand{
    -fx-cursor: hand;
}
.bold-fonts{
    -fx-font-weight: bold;
    -fx-fill: #38003d;
}

